/*#region General CSS */
#inside_holder img {
  display: initial;
}

#inside_holder [class^="icon-"]:before,
#inside_holder [class*=" icon-"]:before,
#inside_holder[device] [class^="icon-"]:before, #inside_holder[device] [class*=" icon-"]:before  {
  font-family: 'icoinside-front' !important;
}

.inside_systemMessage.queue {
  display: none !important;
}

#inside_holder.showChatPaneFullScreen .closeChat.overlay #closeChatHolder .insideSubmitButton {
  max-width: calc(50% - 12px);
  min-width: 0;
}

#inside_holder.iOSMobile.iOSSafari #inside_chatWindow>div {
  transform: none !important;
}

#inside_holder[device='3'] .chatHeaderIcons div {
  padding: 0 15px;
}

#inside_holder[device='3'].showChatPaneFullScreen .inside_messagewrapper.user.swap {
  width: 90% !important;
  margin-left: 10% !important;
}

#inside_holder[device='3'].showChatPaneFullScreen .inside_messagewrapper.user:not(.swap),
#inside_holder[device='3'].showChatPaneFullScreen .inside_messagewrapper.assist.swap {
  margin-right: 10%;
  min-width: 30%;
  width: 90%;
}

#inside_holder[device='3'].showChatPaneFullScreen .inside_chatMessageAssist.swap {
  width: auto !important;
  float: left;
  min-width: 160px;
}

#inside_holder[device='3'].showChatPaneFullScreen .inside_messagewrapper.assist:not(.swap) .inside_chatMessageAssist,
#inside_holder[device='3'].showChatPaneFullScreen .inside_messagewrapper.user.swap .inside_chatMessageUser {
  margin-left: 0;
  min-width: 160px;
  float: right;
  width: auto !important;
}

#inside_holder .inside_messageText {
  word-break: break-word;
}

/* hide date in timestamp */
.inside_chatmessage_datetime, .inside_chatmessage_datetime span {
  font-size: 0 !important;
  letter-spacing: 0 !important;
  bottom: -24px;
}
.inside_chatmessage_datetime .hour {
  font-size: 11px !important;
  letter-spacing: normal !important;
}

.inside_chatNotification {
  font-size: 16px;
  line-height: 22px;
}

/*#endregion General CSS */

/*#region AMQ (default) */
@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('https://us5-cdn.inside-graph.com/custom/2-HelveticaNeueLTStd-Roman.eot');
  src: url('https://us5-cdn.inside-graph.com/custom/2-HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('https://us5-cdn.inside-graph.com/custom/2-HelveticaNeueLTStd-Roman.woff') format('woff'),
    url('https://us5-cdn.inside-graph.com/custom/2-HelveticaNeueLTStd-Roman.ttf') format('truetype'),
    url('https://us5-cdn.inside-graph.com/custom/2-HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* font body */
#inside_holder .inside_chatPane #inside_chatInput,
#inside_holder *,
#inside_holder *:before,
#inside_holder *:after {
  font-family: "HelveticaNeueLTStd-Roman", "HelveticaNeueLTStd-Lt", Arial, Verdana, sans-serif;
  font-weight: 300;
}

/* font title */
#inside_holder .inside_chatFrom .inside_chatName,
#inside_holder #inside_leaveMessageForm .inside_formTitle,
#inside_holder #inside_leaveMessageForm .inside_formTitle .inside_root_block,
#inside_holder .inside-not-title:after,
#inside_holder .inside-not-title,
#inside_holder #inside_prechatForm .inside_formTitle,
#inside_holder #inside_leaveMessageForm .inside_formTitle,
#inside_holder .insideGreetingMessage,
#inside_holder #insideSurveyHolder .insideSurveyQuestion,
#inside_holder #inside_chatSendButton,
#inside_holder .insideSubmitButton,
#inside_holder #inside_leaveMessageForm input.inside_sendButton {
  font-family: "AkzidenzGroteskBQ-Ext", Arial, Verdana, sans-serif !important;
  font-weight: normal !important;
}

#inside_holder:not([pageurl*="boucheron.com"]) #inside_liveChatTab.usingChatHeader {
  outline: none;
  padding: 1px 0 0 15px;
  border: none !important;
  height: 36px;
  line-height: 36px;
}

#inside_holder:not([pageurl*="boucheron.com"]) #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  line-height: 36px;
  height: 36px;
  vertical-align: middle;
}

#inside_holder:not([pageurl*="boucheron.com"]) #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  margin: -1px 0 0 6px;
}

#inside_holder:not([pageurl*="boucheron.com"]) #inside_chat_siteLogo {
  margin: 2px 0 0 9px;
}

/* adjust icon */
#inside_holder:not([pageurl*="boucheron.com"]) #inside_liveChatTab.usingChatHeader .icon-expand-image,
#inside_holder:not([pageurl*="boucheron.com"]) #inside_liveChatTab.usingChatHeader .inside_closeCross {
  font-size: 29px !important;
  margin-top: -1px;
  margin-right: 11px;
}

#inside_holder:not([pageurl*="boucheron.com"]) #inside_liveChatTab.usingChatHeader .icon-expand-image img {
  min-width: 17px;
}

#inside_holder:not([pageurl*="boucheron.com"]) #inside_liveChatTab.usingChatHeader .inside_closeCross {
  margin-right: 3px;
  display: none;
}

/* notification */
#inside_holder:not([pageurl*="boucheron.com"]) .inside-notification.standard {
  border: none;
  height: 69px !important;
  margin-top: -9px;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-notification.standard .inside-not-content {
  padding: 26px 10px 13px 13px;
  width: 288px;
  box-sizing: border-box;
  border: solid 1px #999999;
  border-left: none;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-notification.standard .inside-not-img-cont {
  min-width: 69px;
  min-height: 69px;
  margin: 0;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-notification.standard .inside-not-img-cont img {
  min-width: 69px;
  min-height: 69px;
  width: 69px;
  height: 69px;
  max-width: 69px;
  max-height: 69px;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-not-title,
#inside_holder:not([pageurl*="boucheron.com"]) .inside-not-text {
  max-width: calc(100% - 45px);
  padding: 0;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-not-title,
#inside_holder:not([pageurl*="boucheron.com"]) .inside-not-text,
#inside_holder:not([pageurl*="boucheron.com"]) .inside-not-more {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: 0.2px;
  color: #000000;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-not-title {
  margin-bottom: 1px;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: 0.2px;
  color: #000000;
  display: none;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-notification .inside-not-close.fonticon {
  margin: 4px 5px 0 0;
  opacity: 1;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M4.524 5L0 .476.476 0 5 4.524 9.524 0 10 .476 5.476 5 10 9.524 9.524 10 5 5.476.476 10 0 9.524 4.524 5z'/%3E%3C/svg%3E") center no-repeat;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-notification .inside-not-close.fonticon:before {
  display: none;
}

#inside_holder:not([pageurl*="boucheron.com"])[pageurl*="alexandermcqueen.com"] .inside-notification .inside-not-close.fonticon {
  opacity: 0.5;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-notification .inside-not-close.fonticon:hover {
  opacity: 1;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-notification .inside-not-more {
  /* font-size: 0; */
  /* letter-spacing: 0; */
  position: relative;
  text-decoration: underline;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-not-more:before {
  content: 'more';
  display: none !important;
}


#inside_holder:not([pageurl*="boucheron.com"]) .inside-not-more:after {
  content: '';
  height: 100%;
  width: 0.85em;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
}

#inside_holder:not([pageurl*="boucheron.com"]) .inside-not-text.multiline {
  white-space: nowrap;
  display: inline-block;
}

#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-not-title,
#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-not-text,
#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-not-more:before {
  font-size: 12px;
}

#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-notification {
  height: 69px !important;
  overflow: hidden;
}

#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-not-content {
  width: 286px;
  max-width: calc(100% - 69px);
}

#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-not-title,
#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-not-text {
  max-width: calc(100% - 47px);
}

#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-notification {
  max-width: calc(100vw - 20px);
}

@media (max-width: 375px) {
  #inside_holder:not([pageurl*="boucheron.com"]).mobile-device .inside-notification {
    right: auto;
    left: 50%;
    transform: translateX(-50%) !important;
  }
}

#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-not-img-cont {
  min-width: 69px;
  min-height: 69px;
}

#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-not-img-cont img {
  min-width: 69px;
  min-height: 69px;
  width: 69px;
  height: 69px;
  max-width: 69px;
  max-height: 69px;
}

#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside-not-content {
  padding: 10px 15px 13px 15px;
}

/* Mobile chat tab */
#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen .inside_chatNotification {
  background: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 12px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  top: -10px;
  left: -10px;
  padding: 0;
  box-sizing: border-box;
}

#inside_holder:not([pageurl*="boucheron.com"]).showChatPaneFullScreen #inside_liveChatTab.usingChatHeader .inside_chatNotification {
  top: -10px;
  left: 106px;
}

/* only for AMQ  */
#inside_holder[pageurl*="alexandermcqueen.com"]  .inside_chatmessage_datetime .hour {
  font-size: 13px !important;
}

#inside_holder.showChatPaneFullScreen[pageurl*="alexandermcqueen.com"] #inside_liveChatTab.usingChatHeader {
  outline: none;
  padding: 1px 0 0 15px;
  border: none !important;
  height: 43px;
  line-height: 43px;
}

#inside_holder.showChatPaneFullScreen[pageurl*="alexandermcqueen.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  line-height: 43px;
  height: 43px;
  vertical-align: middle;
}

#inside_holder.showChatPaneFullScreen[pageurl*="alexandermcqueen.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  margin: -1px 0 0 6px;
  max-width: 66px;
}

/*#endregion AMQ*/

/*#region Boucheron */
/* font body */
#inside_holder[pageurl*="boucheron.com"] .inside_chatPane #inside_chatInput,
#inside_holder[pageurl*="boucheron.com"] *,
#inside_holder[pageurl*="boucheron.com"] *:before,
#inside_holder[pageurl*="boucheron.com"] *:after {
  font-family: FontBody,FontBodyFallback, sans-serif;
  font-weight: 400;
}

/* font title */
#inside_holder[pageurl*="boucheron.com"] .inside_chatFrom .inside_chatName,
#inside_holder[pageurl*="boucheron.com"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="boucheron.com"] #inside_leaveMessageForm .inside_formTitle .inside_root_block,
#inside_holder[pageurl*="boucheron.com"] .inside-not-title:after,
#inside_holder[pageurl*="boucheron.com"] .inside-not-title *,
#inside_holder[pageurl*="boucheron.com"] .inside-not-title,
#inside_holder[pageurl*="boucheron.com"] #inside_prechatForm .inside_formTitle,
#inside_holder[pageurl*="boucheron.com"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="boucheron.com"] .insideGreetingMessage,
#inside_holder[pageurl*="boucheron.com"] #insideSurveyHolder .insideSurveyQuestion,
#inside_holder[pageurl*="boucheron.com"] #inside_chatSendButton,
#inside_holder[pageurl*="boucheron.com"] .insideSubmitButton,
#inside_holder[pageurl*="boucheron.com"] #inside_leaveMessageForm input.inside_sendButton {
  font-family: FontTitleLight,FontTitleFallback, sans-serif !important;
  font-weight: 900 !important;
}

#inside_holder[pageurl*="boucheron.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  margin: -6px 0 0 4px;
}


#inside_holder.showChatPaneFullScreen[pageurl*="boucheron.com"]  #inside_liveChatTab.usingChatHeader .inside_chatNotification {
  left: 0
}

#inside_holder[pageurl*="boucheron.com"][device="2"] #inside_liveChatTab.usingChatHeader,
#inside_holder[pageurl*="boucheron.com"][device="3"] #inside_liveChatTab.usingChatHeader {
    width: 100vw!important;
    right: 100vw!important;
}
#inside_holder[pageurl*="boucheron.com"][device="3"].showChatPaneFullScreen.mobileChatOpen {
  position: fixed !important;
  top: 0;
}
#inside_holder[pageurl*="boucheron.com"][device='3'] .chatHeaderIcons .inside_closeCross {
  margin-right: 0;
  margin-left: 0;
}

#inside_holder[pageurl*="boucheron.com"][device='3'] .chatHeaderIcons div {
  width: auto;
}

#inside_holder[pageurl*="boucheron.com"][device="3"] .inside_chatMessageFileIconContainer img {
  width: 35px;
}

#inside_holder[pageurl*="boucheron.com"][device="1"] .inside-notification {
  display: none;
}

#inside_holder[pageurl*="boucheron.com"][device="2"] #inside_liveChatTab:not(.usingChatHeader) {
  transform: translate(-5px, -5px);
}


/*CHAT HEADER AS TAB*/

#inside_holder[pageurl*="boucheron.com"] .usingChatHeader .chatHeaderIcons .inside_closeCross {
  margin-right: 3px;
}

#inside_holder[pageurl*="boucheron.com"] .usingChatHeader .chatHeaderIcons .icon-expand-image {
  position: relative;
  left: 1px;
}

#inside_holder[pageurl*="boucheron.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  margin: -1px 0 0 4px !important;
}

#inside_holder[pageurl*="boucheron.com"] #inside_siteLogo img {
  margin-top: 1px !important;
}

/*#endregion Boucheron */

/*#region MCQ*/
#inside_holder[pageurl*="mcq.com"] .inside_chatPane #inside_chatInput,
#inside_holder[pageurl*="mcq.com"] *,
#inside_holder[pageurl*="mcq.com"] *:before,
#inside_holder[pageurl*="mcq.com"] *:after {
  font-family: "FlamaLight", "HelveticaLight", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300 !important;
}

/* font title */
#inside_holder[pageurl*="mcq.com"] .inside_chatFrom .inside_chatName,
#inside_holder[pageurl*="mcq.com"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="mcq.com"] #inside_leaveMessageForm .inside_formTitle .inside_root_block,
#inside_holder[pageurl*="mcq.com"] .inside-not-title:after,
#inside_holder[pageurl*="mcq.com"] .inside-not-title,
#inside_holder[pageurl*="mcq.com"] #inside_prechatForm .inside_formTitle,
#inside_holder[pageurl*="mcq.com"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="mcq.com"] .insideGreetingMessage,
#inside_holder[pageurl*="mcq.com"] #insideSurveyHolder .insideSurveyQuestion {
  font-family: "FlamaMedium", "HelveticaLight", Helvetica, Arial, Verdana, sans-serif !important;
  font-weight: 500 !important;
}

#inside_holder[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader .icon-expand-image img {
  min-width: 0;
  max-width: 9px;
  margin-top: 2px;
}

#inside_holder[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader .icon-expand-image,
#inside_holder[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader .inside_closeCross {
  margin-right: 2px;
}

#inside_holder[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader {
  outline: none;
  padding: 1px 0 0 15px;
  border: none !important;
  height: 35px;
  line-height: 35px;
}

#inside_holder[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  line-height: 35px;
  height: 35px;
  vertical-align: middle;
}

#inside_holder[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  margin: -4px 0 0 1px;
}

#inside_holder[pageurl*="mcq.com"] .inside-not-more:after {
  width: 0.65em;
}

#inside_holder.showChatPaneFullScreen[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader {
  outline: none;
  padding: 1px 0 0 15px;
  border: none !important;
  height: 45px;
  line-height: 45px;
}

#inside_holder.showChatPaneFullScreen[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  line-height: 45px;
  height: 45px;
  vertical-align: middle;
}

#inside_holder.showChatPaneFullScreen[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  margin: -4px 0 0 1px;
  max-width: 50px;
}

#inside_holder.showChatPaneFullScreen[pageurl*="mcq.com"] .inside_chatNotification {
  width: 20px;
  height: 20px;
  line-height: 18px;
}

#inside_holder.showChatPaneFullScreen[pageurl*="mcq.com"] #inside_liveChatTab.usingChatHeader .inside_chatNotification {
  top: -10px;
  left: 74px;
}

/*#endregion MCQ*/

/*#region BOTTEGA*/
@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url('../fonts/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.eot');
  src: url('../fonts/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltstd-th';
  src: url('../fonts/helveticaltstd/helveticaneueltstd-th.eot');
  src: url('../fonts/helveticaltstd/helveticaneueltstd-th.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaltstd/helveticaneueltstd-th.woff') format('woff'),
    url('../fonts/helveticaltstd/helveticaneueltstd-th.ttf') format('truetype'),
    url('../fonts/helveticaltstd/helveticaneueltstd-th.svg#helveticaneueltstd-th') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* font body */
#inside_holder[pageurl*="bottegaveneta.com"] .inside_chatPane #inside_chatInput,
#inside_holder[pageurl*="bottegaveneta.com"] *,
#inside_holder[pageurl*="bottegaveneta.com"] *:before,
#inside_holder[pageurl*="bottegaveneta.com"] *:after {
  font-family: HelveticaNeueW01-65Medi, sans-serif;
  font-weight: 300;
}

/* font title */
#inside_holder[pageurl*="bottegaveneta.com"] .inside_chatFrom .inside_chatName,
#inside_holder[pageurl*="bottegaveneta.com"] .inside_chatMessageUser .inside_chatFrom:before,
#inside_holder[pageurl*="bottegaveneta.com"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="bottegaveneta.com"] #inside_leaveMessageForm .inside_formTitle .inside_root_block,
#inside_holder[pageurl*="bottegaveneta.com"] .inside-not-title:after,
#inside_holder[pageurl*="bottegaveneta.com"] .inside-not-title,
#inside_holder[pageurl*="bottegaveneta.com"] #inside_prechatForm .inside_formTitle,
#inside_holder[pageurl*="bottegaveneta.com"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="bottegaveneta.com"] .insideGreetingMessage,
#inside_holder[pageurl*="bottegaveneta.com"] #insideSurveyHolder .insideSurveyQuestion,
#inside_holder[pageurl*="bottegaveneta.com"] #inside_chatSendButton,
#inside_holder[pageurl*="bottegaveneta.com"] .insideSubmitButton,
#inside_holder[pageurl*="bottegaveneta.com"] #inside_leaveMessageForm input.inside_sendButton {
  font-family: HelveticaNeueW01-45Ligh, sans-serif !important;
  font-weight: normal !important;
}

#inside_holder.mobile-device[pageurl*="bottegaveneta.com"] #inside_liveChatTab:not(.usingChatHeader) {
  transform: translate(-10px, -10px);
}

#inside_holder.mobile-device.iOSMobile.iOSSafari.mobileChatOpen[pageurl*="bottegaveneta.com"] {
  position: absolute !important;
}

#inside_holder[pageurl*="bottegaveneta.com"] #inside_liveChatTab.usingChatHeader {
  outline: none;
  padding: 1px 0 0 15px;
  border: none !important;
  height: 52px;
  line-height: 52px;
}

#inside_holder[pageurl*="bottegaveneta.com"][device="1"] #inside_liveChatTab.usingChatHeader {
  max-width: 320px !important;
  min-width: 280px !important;
}

#inside_holder[pageurl*="bottegaveneta.com"][device="1"] .inside_chatPane {
  max-width: none !important;
}

#inside_holder[pageurl*="bottegaveneta.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  line-height: 52px;
  height: 52px;
  vertical-align: middle;
}

#inside_holder[pageurl*="bottegaveneta.com"] #inside_chat_siteLogo {
  margin: 2px 0 0 11px;
}

#inside_holder.showChatPaneFullScreen[pageurl*="bottegaveneta.com"] #inside_chat_siteLogo {
  display: none;
}

#inside_holder.showChatPaneFullScreen[pageurl*="bottegaveneta.com"] #inside_siteLogo {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='135' height='10' viewBox='0 0 135 10'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M7.128 3.024a2.739 2.739 0 0 0-.354-.882 2.41 2.41 0 0 0-.6-.654 2.674 2.674 0 0 0-.78-.402A2.883 2.883 0 0 0 4.5.948c-.568 0-1.056.108-1.464.324a2.9 2.9 0 0 0-1.002.858c-.26.356-.452.758-.576 1.206a5.17 5.17 0 0 0 0 2.754c.124.452.316.856.576 1.212a2.9 2.9 0 0 0 1.002.858c.408.216.896.324 1.464.324.4 0 .76-.072 1.08-.216.32-.144.596-.34.828-.588a3.02 3.02 0 0 0 .564-.87c.144-.332.236-.69.276-1.074h.816a4.624 4.624 0 0 1-.372 1.428c-.192.424-.44.784-.744 1.08a3.16 3.16 0 0 1-1.074.684c-.412.16-.87.24-1.374.24-.672 0-1.262-.122-1.77-.366a3.674 3.674 0 0 1-1.266-.978 4.158 4.158 0 0 1-.756-1.416 5.624 5.624 0 0 1-.252-1.692c0-.592.084-1.156.252-1.692.168-.536.42-1.01.756-1.422.336-.412.758-.74 1.266-.984S3.828.252 4.5.252c.408 0 .806.06 1.194.18.388.12.74.298 1.056.534.316.236.58.526.792.87.212.344.346.74.402 1.188h-.816zM9.655.432h.816v3.72h5.088V.432h.816V9h-.816V4.848H10.47V9h-.816V.432zM19.658 5.64h3.372l-1.656-4.392-1.716 4.392zM20.954.432h.912L25.226 9h-.876l-1.044-2.664h-3.9L18.374 9h-.864L20.954.432zm3.667 0h6.78v.696h-2.988V9h-.816V1.128H24.62V.432zm10.741 0h.876l1.944 7.5h.024l2.088-7.5h1.02l2.1 7.5h.024l1.956-7.5h.816L43.846 9h-.864L40.81 1.332h-.024L38.626 9h-.888L35.362.432zm12.151 0h.816V9h-.816V.432zm2.035 0h6.78v.696H53.34V9h-.816V1.128h-2.976V.432zm7.927 0h.816v3.72h5.088V.432h.816V9h-.816V4.848H58.29V9h-.816V.432zM71.157 5.64h3.372l-1.656-4.392-1.716 4.392zM72.453.432h.912L76.725 9h-.876l-1.044-2.664h-3.9L69.873 9h-.864L72.453.432zm5.382 0h.912L83.74 7.68h.024V.432h.816V9h-.912l-4.992-7.248h-.024V9h-.816V.432zm12.482 0h5.916v.696h-5.1v3.096h4.776v.696h-4.776v3.384h5.16V9h-5.976V.432zm6.631 0h.96l2.424 3.588L102.84.432h.912l-2.928 4.176L103.92 9h-.984l-2.604-3.78L97.692 9h-.912l3.072-4.416L96.948.432zm8.875 4.2h2.808c.568 0 1.028-.144 1.38-.432.352-.288.528-.728.528-1.32 0-.592-.176-1.032-.528-1.32-.352-.288-.812-.432-1.38-.432h-2.808v3.504zm-.816-4.2h3.804c.384 0 .732.054 1.044.162a2.2 2.2 0 0 1 .804.48c.224.212.396.47.516.774.12.304.18.648.18 1.032s-.06.728-.18 1.032c-.12.304-.292.562-.516.774a2.2 2.2 0 0 1-.804.48c-.312.108-.66.162-1.044.162h-2.988V9h-.816V.432zm7.903 0h5.916v.696h-5.1v3.096h4.776v.696h-4.776v3.384h5.16V9h-5.976V.432zm8.275 4.068h3.048c.248 0 .484-.038.708-.114.224-.076.42-.186.588-.33.168-.144.302-.318.402-.522.1-.204.15-.438.15-.702 0-.528-.152-.944-.456-1.248-.304-.304-.768-.456-1.392-.456h-3.048V4.5zm-.816-4.068h3.924c.352 0 .686.044 1.002.132.316.088.592.222.828.402.236.18.424.412.564.696.14.284.21.618.21 1.002 0 .544-.14 1.016-.42 1.416-.28.4-.696.656-1.248.768v.024c.28.04.512.114.696.222.184.108.334.246.45.414.116.168.2.362.252.582.052.22.086.458.102.714.008.144.016.32.024.528.008.208.024.418.048.63.024.212.062.412.114.6.052.188.122.334.21.438h-.9a1.049 1.049 0 0 1-.114-.294 2.6 2.6 0 0 1-.06-.36 12.282 12.282 0 0 1-.03-.366c-.008-.12-.016-.224-.024-.312a13.602 13.602 0 0 0-.078-.906 2.48 2.48 0 0 0-.228-.804 1.416 1.416 0 0 0-.504-.57c-.22-.144-.522-.208-.906-.192h-3.096V9h-.816V.432zm7.506 0h6.78v.696h-2.988V9h-.816V1.128h-2.976V.432z'/%3E%3C/svg%3E") no-repeat;
  background-position: 13px center;
  background-size: auto;
  height: 100%;
}

#inside_holder[pageurl*="bottegaveneta.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  margin: -3px 0 0 3px;
  max-width: 126px;
}

/* adjust icon */
#inside_holder[pageurl*="bottegaveneta.com"] #inside_liveChatTab.usingChatHeader .icon-expand-image,
#inside_holder[pageurl*="bottegaveneta.com"] #inside_liveChatTab.usingChatHeader .inside_closeCross {
  margin-top: 0;
  margin-right: 0;
}

#inside_holder[pageurl*="bottegaveneta.com"] #inside_liveChatTab.usingChatHeader .chatHeaderIcons img {
  min-width: 11px;
  width: 11px !important;
}

#inside_holder[pageurl*="bottegaveneta.com"] #inside_liveChatTab.usingChatHeader .inside_closeCross {
  margin-right: 7px;
  display: inline-flex;
}

#inside_holder[pageurl*="bottegaveneta.com"] .inside-not-title,
#inside_holder[pageurl*="bottegaveneta.com"] .inside-not-text,
#inside_holder[pageurl*="bottegaveneta.com"] .inside-not-more {
  max-width: calc(100% - 45px);
  padding: 0;
  font-family: HelveticaNeueW01-45Ligh, sans-serif !important;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.1px;
  color: #1a1919;
}

#inside_holder[pageurl*="bottegaveneta.com"] .inside-notification.standard .inside-not-content {
  padding-right: 13px;
}

#inside_holder[pageurl*="bottegaveneta.com"] #inside_chatInput {
  letter-spacing: 0;
}

#inside_holder[pageurl*="bottegaveneta.com"] #inside_chatInput::placeholder {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#inside_holder[pageurl*="bottegaveneta.com"] #inside_chatInputHolderTable.disabled #inside_chatInput {
  padding: 7px;
}

/*#endregion BOTTEGA*/

/*#region BRIONI*/
#inside_holder[pageurl*="brioni.com"] *,
#inside_holder[pageurl*="brioni.com"] *:before,
#inside_holder[pageurl*="brioni.com"] *:after {
  font-family: LabGrotesque-Medium, sans-serif;
  font-weight: normal;
}

/* font title */
#inside_holder[pageurl*="brioni.com"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="brioni.com"] #inside_leaveMessageForm .inside_formTitle .inside_root_block,
#inside_holder[pageurl*="brioni.com"] .inside-not-text,
#inside_holder[pageurl*="brioni.com"] #inside_prechatForm .inside_formTitle,
#inside_holder[pageurl*="brioni.com"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="brioni.com"] .insideGreetingMessage,
#inside_holder[pageurl*="brioni.com"] #insideSurveyHolder .insideSurveyQuestion,
#inside_holder[pageurl*="brioni.com"] #inside_chatSendButton,
#inside_holder[pageurl*="brioni.com"] .insideSubmitButton,
#inside_holder[pageurl*="brioni.com"] #inside_leaveMessageForm input.inside_sendButton {
  font-family: LabGrotesque-Medium, sans-serif !important;
}

#inside_holder[pageurl*="brioni.com"] .inside_chatPane #inside_chatInput,
#inside_holder[pageurl*="brioni.com"] .inside_chatPane input,
#inside_holder[pageurl*="brioni.com"] #inside_chatSendButton,
#inside_holder[pageurl*="brioni.com"] .insideSubmitButton,
#inside_holder[pageurl*="brioni.com"] #inside_leaveMessageForm input.inside_sendButton {
  font-family: LabGrotesque-Light, sans-serif !important;
  font-weight: 300 !important;
}

#inside_holder[pageurl*="brioni.com"] #inside_liveChatTab.usingChatHeader {
  height: 50px;
  line-height: 50px;
  border: 1px solid #eaeaea !important;
}

#inside_holder[pageurl*="brioni.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  line-height: 50px;
  height: 50px;
  vertical-align: middle;
}

#inside_holder[pageurl*="brioni.com"] #inside_chat_send_cell {
  height: auto !important;
}

#inside_holder[pageurl*="brioni.com"] #inside_attachFileButton {
  width: 35px !important;
  height: 48px !important;
}

/* adjust icon */
#inside_holder[pageurl*="brioni.com"] #inside_liveChatTab.usingChatHeader .icon-expand-image,
#inside_holder[pageurl*="brioni.com"] #inside_liveChatTab.usingChatHeader .inside_closeCross {
  font-size: 29px !important;
  margin-top: 0px;
  margin-right: 2px;
}

#inside_holder[pageurl*="brioni.com"] #inside_liveChatTab.usingChatHeader .icon-expand-image img {
  min-width: 15px;
}

#inside_holder[pageurl*="brioni.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  margin: -2px 0 0 2px;
}

#inside_holder[pageurl*="brioni.com"] #inside_chat_siteLogo {
  margin: 0px 0 0 5px;
}

/*notification*/
#inside_holder[pageurl*="brioni.com"] .inside-notification.standard .inside-not-img-cont img {
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
  margin: 20px auto;
}

#inside_holder[pageurl*="brioni.com"] .inside-notification.standard .inside-not-img-cont {
  min-width: 0;
  max-width: 32px;
}

#inside_holder[pageurl*="brioni.com"] .inside-notification.standard .inside-not-content {
  padding: 26px 15px 13px 8px;
  max-width: calc(100vw - 70px);
  border: none;
  border-left: none;
  width: 331px;
  text-align: center;
}

#inside_holder[pageurl*="brioni.com"] .inside-notification .inside-not-close.fonticon,
#inside_holder[pageurl*="brioni.com"] .inside-notification .inside-not-more {
  display: none;
}

#inside_holder[pageurl*="brioni.com"] .inside-notification.standard {
  box-shadow: none;
  padding-left: 10px;
  border: 1px solid #000000;
}

#inside_holder[pageurl*="brioni.com"] .inside-not-text {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.6px;
  color: #000000;
  max-width: calc(100%);
  margin-right: 20px;
}

/*#endregion BRIONI*/

/*#region BALENCIAGA*/
#inside_holder[pageurl*="balenciaga"] .inside_chatPane #inside_chatInput,
#inside_holder[pageurl*="balenciaga"] *,
#inside_holder[pageurl*="balenciaga"] *:before,
#inside_holder[pageurl*="balenciaga"] *:after {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

/* font title */
#inside_holder[pageurl*="balenciaga"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="balenciaga"] #inside_leaveMessageForm .inside_formTitle .inside_root_block,
#inside_holder[pageurl*="balenciaga"] .inside-not-text,
#inside_holder[pageurl*="balenciaga"] #inside_prechatForm .inside_formTitle,
#inside_holder[pageurl*="balenciaga"] #inside_leaveMessageForm .inside_formTitle,
#inside_holder[pageurl*="balenciaga"] .insideGreetingMessage,
#inside_holder[pageurl*="balenciaga"] #insideSurveyHolder .insideSurveyQuestion,
#inside_holder[pageurl*="balenciaga"] #inside_chatSendButton,
#inside_holder[pageurl*="balenciaga"] .insideSubmitButton,
#inside_holder[pageurl*="balenciaga"] #inside_leaveMessageForm input.inside_sendButton {
  font-family: Arial, sans-serif !important;
}

#inside_holder[pageurl*="balenciaga"] #inside_chatSendButton,
#inside_holder[pageurl*="balenciaga"] .insideSubmitButton,
#inside_holder[pageurl*="balenciaga"] #inside_leaveMessageForm input.inside_sendButton {
  font-family: Arial, sans-serif !important;
  text-transform: uppercase;
}

#inside_holder[pageurl*="balenciaga"].showChatPaneFullScreen .closeChat.overlay #closeChatHolder .insideSubmitButton {
  max-width: 187px;
  min-width: 187px;
}

#inside_holder[pageurl*="balenciaga"] #inside_liveChatTab.usingChatHeader {
  height: 45px;
  line-height: 45px;
  border: 1px solid #000000 !important;
  border-bottom: none !important;
}

#inside_holder[pageurl*="balenciaga"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  line-height: 45px;
  height: 45px;
  vertical-align: middle;
}

/* chat header using text to ensure it aligned with the font of the site */
#inside_holder[pageurl*="balenciaga"] #inside_siteLogo img,
#inside_holder[pageurl*="balenciaga"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  display: none;
}

#inside_holder[pageurl*="balenciaga"] #inside_siteLogo:before,
#inside_holder[pageurl*="balenciaga"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo:before {
  content: 'Live Chat';
  text-transform: uppercase;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: auto;
  letter-spacing: 0.5px;
  margin: 0 0 0 5px;
  max-width: calc(100% - 60px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

#inside_holder[pageurl*="balenciaga"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo:before {
  margin: -2px 0 0 2px;
}

/* adjust icon */
#inside_holder[pageurl*="balenciaga"] #inside_liveChatTab.usingChatHeader .icon-expand-image,
#inside_holder[pageurl*="balenciaga"] #inside_liveChatTab.usingChatHeader .inside_closeCross {
  font-size: 29px !important;
  margin-top: 0px;
  margin-right: 4px;
}

#inside_holder[pageurl*="balenciaga"] #inside_liveChatTab.usingChatHeader .icon-expand-image img {
  min-width: 15px;
}

#inside_holder[pageurl*="balenciaga"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  margin: -3px 0 0 2px;
}

#inside_holder[pageurl*="balenciaga"] #inside_chat_siteLogo {
  margin: -1px 0 0 5px;
}

#inside_holder[pageurl*="balenciaga"] .inside-notification.standard .inside-not-content {
  border-color: black;
  padding: 15px 13px 13px 13px;
  width: 287px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#inside_holder[pageurl*="balenciaga"] .inside-not-more {
  margin-top: auto;
  margin-right: 12px;
  line-height: 1.43;
}

#inside_holder[pageurl*="balenciaga"] .inside-not-text {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.5px;
  color: #000000;
  white-space: normal;
  max-height: 34px;
  position: relative;
  max-width: calc(100% - 55px);
  box-sizing: border-box;
  height: auto;
  text-align: left;
  text-overflow: initial;
  margin-top: auto;
  flex-shrink: 1;
  margin-bottom: auto;
}

#inside_holder[pageurl*="balenciaga"] .inside-notification .inside-not-close.fonticon {
  margin: 6px 4px 0 0;
}

#inside_holder[pageurl*="balenciaga"] .inside-notification.standard .inside-not-img-cont {
  border: 1px solid black;
  box-sizing: border-box;
}

#inside_holder[pageurl*="balenciaga"] .inside-notification.standard .inside-not-img-cont img {
  margin-top: -1px;
  margin-left: -1px;
}

#inside_holder[pageurl*="balenciaga"] .inside_chatmessage_datetime .hour {
  font-size: 9px !important;
}

/*#endregion BALENCIAGA*/

/*#region YSL*/
#inside_holder[pageurl*="ysl.com"] #inside_chat_siteLogo {
  max-height: 10px;
  margin-top: 0px;
}
#inside_holder[pageurl*="ysl.com"],
#inside_holder[pageurl*="ysl.com"] #inside_chatWindow {
  -webkit-overflow-scrolling: unset !important;
}

#inside_holder[pageurl*="ysl.com"] #inside_chatWindow {
  padding: 0;
  top: 0;
  margin-top: 28px;
}

#inside_holder[pageurl*="ysl.com"] #inside_liveChatTab.usingChatHeader .icon-expand-image img {
  min-width: 0;
  width: 11px !important;
}

/* chat notification */
#inside_holder[pageurl*="ysl.com"] .inside-notification.standard {
  height: 30px !important;
  margin-top: 40px;
  margin-right: 0px !important;
  border: solid 1px #1a1919;
  max-width: calc(100vw - 10px) !important;
  overflow: visible;
}

#inside_holder[pageurl*="ysl.com"] .inside-notification.standard * {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-size: 11px;
  text-transform: none;
}

#inside_holder[pageurl*="ysl.com"] .inside-not-close.fonticon.icon-hclose {
  font-size: 18px;
  color: #1a1919 !important;
  margin: 0;
  opacity: 1;
  display: none;
}

#inside_holder[pageurl*="ysl.com"] .inside-notification.standard .inside-not-content {
  box-sizing: border-box;
  padding: 8px 30px 8px 10px;
  width: 285px;
  max-width: calc(100vw - 110px);
  border: none;
}

#inside_holder[pageurl*="ysl.com"][device="3"] .inside-notification.standard .inside-not-content {
  width: 285px !important;
  max-width: calc(100vw - 110px) !important;
  min-width: 0 !important;
}

#inside_holder[pageurl*="ysl.com"].showChatPaneFullScreen .inside-notification.standard .inside-not-content {
  max-width: calc(100vw - 10px);
  width: auto;
  min-width: calc(100vw - 10px);
  padding-left: 50px;
  padding-right: 50px;
}

#inside_holder[pageurl*="ysl.com"].showChatPaneFullScreen .inside-notification.standard .inside-not-content:after {
  content: '';
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5.265 8.971L0 3.707.707 3l4.558 4.557L9.822 3l.707.707z'/%3E%3C/svg%3E") center no-repeat;
  transform: rotate(-90deg);
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 7px;
}

#inside_holder[pageurl*="ysl.com"][device="3"].showChatPaneFullScreen .inside-notification.standard .inside-not-content:after {
  display: none;
}

#inside_holder[pageurl*="ysl.com"] .inside-not-title {
  display: none;
}

#inside_holder[pageurl*="ysl.com"] .inside-notification.standard .inside-not-more:before {
  font-size: 11px;
  content: 'more';
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  float: left;
  display: block;
  text-decoration: underline;
  color: #1a1919;
  line-height: normal;
}

#inside_holder[pageurl*="ysl.com"] .inside-notification.standard .inside-not-img-cont {
  height: 30px;
  width: 90px !important;
  max-width: none;
  min-width: 70px;
  margin: -1px;
  min-height: 0px;
  background: black;
  display: flex;
  align-items: center;
}

#inside_holder[pageurl*="ysl.com"] .inside-notification.standard .inside-not-img-cont img {
  min-width: 0px;
  min-height: 0px;
  width: auto;
  height: auto;
  margin: auto;
}

#inside_holder[pageurl*="ysl.com"] .inside-not-text {
  max-width: calc(100% - 40px);
  white-space: nowrap !important;
  float: left !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #1a1919;
  padding-right: 0;
}

#inside_holder[pageurl*="ysl.com"] .inside-not-more {
  line-height: 1;
}

/* notification tail */
#inside_holder[pageurl*="ysl.com"] .inside-notification.standard:after,
#inside_holder[pageurl*="ysl.com"] .inside-notification.standard:before {
  right: -10px;
  bottom: -1px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#inside_holder[pageurl*="ysl.com"] .inside-notification.standard:after {
  border-left-color: white;
  border-width: 8px 0 0px 8px;
  right: -8px;
  bottom: 0;
}

#inside_holder[pageurl*="ysl.com"] .inside-notification.standard:before {
  border-left-color: #1a1919;
  border-width: 10px 0 0px 10px;
}

#inside_holder[pageurl*="ysl.com"].showChatPaneFullScreen .inside-notification.standard {
  margin-bottom: -10px;
  max-width: 100vw;
  margin-right: -2px;
}

#inside_holder[pageurl*="ysl.com"].showChatPaneFullScreen .inside-not-img-cont {
  display: none !important;
}

#inside_holder[pageurl*="ysl.com"].showChatPaneFullScreen .inside-not-content {
  width: calc(100vw - 10px);
  max-width: calc(100vw - 10px);
  padding-left: 57px;
  padding-right: 57px;
}

/* custom header */
#inside_holder[pageurl*="ysl.com"] #inside_chatPaneHeader {
  height: 29px;
  line-height: 27px;
  border-bottom: 1px solid #1a1919;
  padding-left: 8px;
}

#inside_holder[pageurl*="ysl.com"] #inside_chatPaneHeader>table {
  height: 30px !important;
}

#inside_holder[pageurl*="ysl.com"] #inside_leaveMessageForm {
  max-height: calc(100% - 30px);
  margin-top: 30px;
  height: calc(100% - 30px);
}

#inside_holder[pageurl*="ysl.com"] #inside_prechatForm {
  top: 30px;
  height: calc(100% - 30px);
}

#inside_holder[pageurl*="ysl.com"] #inside_offerTab {
  margin-top: 30px !important;
}

#inside_holder[pageurl*="ysl.com"] #inside_offerImage {
  top: 30px;
}

#inside_holder[pageurl*="ysl.com"] .inside_chatPane .inside_closeCross.fonticon {
  width: 20px;
  height: 20px;
  font-size: 16.5px;
  line-height: 20px;
  top: 5px;
  right: 7px;
}

#inside_holder[pageurl*="ysl.com"] .chatHeaderIcons .inside_closeCross {
  margin-right: 3px;
  min-width: 20px;
  width: 20px;
}

#inside_holder[pageurl*="ysl.com"] .chatHeaderIcons .inside_closeCross img {
  width: 11px;
}

#inside_holder[pageurl*="ysl.com"] .chatHeaderIcons .inside_minimise {
  margin: 0px 0px 0px 0;
  min-width: 21px;
  width: 21px;
}

#inside_holder[pageurl*="ysl.com"] #inside_chatInput::placeholder {
  text-transform: none;
}

#inside_holder[pageurl*="ysl.com"] #inside_liveChatTab.usingChatHeader {
  height: 30px;
  padding-left: 0;
  border: 1px solid rgb(26, 25, 25) !important;
  line-height: 30px;
  padding-top: 0;
}

#inside_holder[pageurl*="ysl.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  line-height: 30px;
  width: auto;
  float: left;
  background: white;
  filter: invert(1);
  text-align: center;
  height: 30px;
  margin: -1px 0 0 -1px;
  padding: 0 10px;
  min-width: 90px;
}

#inside_holder[pageurl*="ysl.com"] .chatTab_header {
  height: 28px;
}

#inside_holder[pageurl*="ysl.com"].showChatPaneFullScreen #inside_liveChatTab.usingChatHeader {
  width: 100vw!important;
}

#inside_holder[pageurl*="ysl.com"].showChatPaneFullScreen #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  filter: none;
  background: none;
  float: right;
  margin-right: 2px;
  width: auto;
  padding-right: 30px;
}

#inside_holder[pageurl*="ysl.com"] #inside_liveChatTab.usingChatHeader .chatHeaderIcons .inside_closeCross {
  display: none;
}

#inside_holder[pageurl*="ysl.com"] #inside_liveChatTab.usingChatHeader .chatHeaderIcons .icon-expand-image {
  transform: rotate(180deg);
  margin: 0 -4px -1px 0;
  height: 30px;
  min-height: 30px;
  padding: 0;
  width: 32px;
}

#inside_holder[pageurl*="ysl.com"] #inside_liveChatTab.usingChatHeader .chatTab_siteLogo img {
  max-width: none;
  margin: 0 auto;
  max-height: 10px;
}

#inside_holder[pageurl*="ysl.com"] .closeChat.overlay #closeChatCancel {
  font-size: 10px;
}

#inside_holder[pageurl*="ysl.com"] .closeChat.overlay #closeChatCancel:before {
  content: '';
}

#inside_holder[pageurl*="ysl.com"] #inside_chatSendButton {
  max-height: 30px !important;
}

#inside_holder[pageurl*="ysl.com"] .inside_chatPane #inside_chatInput {
  max-height: 80px !important;
}

#inside_holder[pageurl*="ysl.com"] #inside_attachFileButton {
  width: 24px !important;
  height: 30px !important;
}

#inside_holder[device="1"][pageurl*="ysl.com"] td#inside_chat_send_cell {
  width: auto !important;
}

#inside_holder.showChatPaneFullScreen[device="3"][pageurl*="ysl.com"] .inside-not-img-cont {
  display: flex !important;
}

#inside_holder.showChatPaneFullScreen[pageurl*="ysl.com"] #inside_chatHeaderAndWindowHolder:after {
  display: block;
}

#inside_holder.showChatPaneFullScreen[pageurl*="ysl.com"] #inside_chatWindow {
  overflow-y: scroll;
}

#inside_holder[pageurl*="ysl.com"] #inside_chatWindow::-webkit-scrollbar-thumb {
  background: #000 !important;
}

#inside_holder[pageurl*="ysl.com"] .inside_chatMessageUser.inside_image,
#inside_holder[pageurl*="ysl.com"] .inside_chatMessageUser.inside_file,
#inside_holder[pageurl*="ysl.com"] .inside_chatMessageAssist.inside_image,
#inside_holder[pageurl*="ysl.com"] .inside_chatMessageAssist.inside_file,
#inside_holder[pageurl*="ysl.com"] .inside_imagewrapper {
  border-radius: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  padding-right: 0 !important;
}

#inside_holder[pageurl*="ysl.com"] .inside_file.inside_uploadbubble,
#inside_holder[pageurl*="ysl.com"] .inside_chatMessageUser.inside_image {
  padding-right: 30px !important;
}
#inside_holder[pageurl*="ysl.com"] .inside_chatMessageUser.inside_file {
  padding-right: 37px !important;
}

#inside_holder[pageurl*="ysl.com"] .inside_userMessageFace {
  display: none;
}

#inside_holder[pageurl*="ysl.com"] #inside_chatHeaderAndWindowHolder:after {
  top: 0px;
  height: 100%;
}

#inside_holder[pageurl*="ysl.com"] #inside_chatWindow {
  top: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  margin-top: 0;
  max-height: calc(100% - 56px);
  min-height: 0;
}

#inside_holder[device="1"][pageurl*="ysl.com"] #inside_chatWindow {
  margin-top: 0;
  max-height: 100%;
}

#inside_holder[device="3"][pageurl*="ysl.com"] .inside_chatMessageUser .inside_chatmessage_datetime {
  left: auto !important;
  right: 30px !important;
}

/*#endregion YSL*/

/*#region resolve CSS conflict */

#inside_holder:not([chatpaneversion="2"]) #inside_tabs {
  margin-top: 0px !important;
}

/* fix chat header alignment on IE */
#inside_siteLogo,
#inside_holder #inside_liveChatTab.usingChatHeader .chatTab_siteLogo {
  display: flex;
  height: 100%;
  align-items: center;
}

#inside_holder #inside_liveChatTab.usingChatHeader .chatTab_header {
  height: 100%;
}

/* resolve conflict on YSL checkout page */
body.iti-mobile div .intl-tel-input.iti-container {
  position: absolute;
  top: 53px;
  left: 0;
  right: auto;
}

body.iti-mobile div .intl-tel-input .country-list {
  max-height: 200px;
  position: relative;
  width: calc(100% + 2px);
}

body.iti-mobile div .intl-tel-input .country-list .country-name,
body.iti-mobile div .intl-tel-input .country-list .dial-code {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

body.iti-mobile div .intl-tel-input .country-list .country {
  padding: 4px 8px;
  line-height: unset;
}
.inside_dept_selector input:focus,
#inside_holder .insideSubmitButton:focus,
#inside_holder [type="button"]:focus {
  outline: 1px solid #2776c5 !important;
}

.inside_messageText:focus,
.inside_systemMessage:focus,
.inside_messageText .staples-bot-action-button:focus,
#inside_chatHeaderAndWindowHolder, #inside_prechatForm {
  outline: none !important;
}

/* resolve css conflict with Eagle website */
#inside_holder .inside_chatPane {
  min-width: 0;
  min-height: 0;
  left: auto;
  padding: 0;
}

#inside_holder.showChatPaneFullScreen .inside_chatPane {
  left:0;
}

/*#endregion resolve CSS conflict */