@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=East+Sea+Dokdo&family=IBM+Plex+Sans+KR:wght@200&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@1,100&display=swap');

@font-face {
    font-family: 'dokdo';
    src: url('./fonts/Dokdo-Regular.ttf') format('truetype');
}
body{
    overflow-x: hidden;
}
/* 헤더 */
div.hdrWrap{
    position: relative;
    z-index: 5;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
    /* outline: 10px solid red; < 마진 같은 느낌 < 외벽에 붙음 > */
    /* border: 10px solid yellow; = 패딩 같은 느낌 < 안쪽에 침범 > */
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>h1{
    font-size: 16px;
    width: calc(100% / 12 * 2);
    float: left;
    font-weight: 700;
}
div.hdrWrap>div.header>ul.nav{
    float: left;
    padding-left: calc(100% / 12 * 2);
}
div.hdrWrap>div.header>ul.nav>li{
    font-size: 14px;
    float: left;
    margin-left: 20px;
}
div.hdrWrap>div.header>ul.menu{
    float: right;

}
div.hdrWrap>div.header>ul.menu>li{
    font-size: 14px;
    float: left;
    margin-left: 20px;
}
div.hdrWrap>div.header>ul.menu>li:nth-child(1){
    padding: 0px 10px;
    background-color: #fff;
    color: #000;
    line-height: 20px;
    margin-top: 30px;
    border-radius: 10px;
}
div.hdrWrap>div.header>ul.menu>li>i{}
div.hdrWrap>div.header>ul.menu>li>span{}

/* 메인 */
div.mainWrap{
    background-color: #333;
    margin-top: -80px;
    padding-bottom: 40px;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.mainWrap>div.main::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>div.texts{
    width: 50%;
    float: left;
    color: #fff;
    padding-top: 160px;
    padding-left: calc(100% / 12 * 1.5);
}
div.mainWrap>div.main>div.texts>h2{
    line-height: 80px;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #000 , -4px -4px 4px gold; 
    font-family: 'dokdo';
    /* text-indent: -999; < 요소에 대한 설명을 하고 그걸 웹화면상 나타내지 않게 하려고 쓸 때 사용함 , 즉 텍스트가 날라감 */
}
div.mainWrap>div.main>div.texts>p{
    font-size: 12px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    font-family: 'Dongle';
    /* white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    
    /* overflow: 는 hidden 하고 scroll 만 외우면 됨 */
    /* opacity 기준으로 0은 완전 투명 1은 다 보이는 것 즉 투명도 */
/* 
    텍스트에 그림자
    text-shadow         오른쪽 이동, 아래쪽이동 , 블러처리  box-shadow 2px(오른쪽) 2px(아래) 2px(블라인드)
    영역의 그림자        반대로 -값을 주면 반대값으로 처리됨  ex)text-shadow: 4px 4px 4px #000 , -4px -4px 4px gold;
   /* box-shadow */         

}
div.mainWrap>div.main>div.texts>div.btn{
    line-height: 40px;
    font-size: 12px;
    outline: 1px solid #fff;
    width: calc(100% / 4);
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    opacity: 0.3;
    transition: opacity 0.5s;
}
div.mainWrap>div.main>div.texts>div.btn:hover{
    opacity: 1;
}
div.mainWrap>div.main>div.images{
    width: calc(100% / 12 * 5);
    float: right;
    height: 520px;
    position: relative;
    margin-top: -80px;
    
}
div.mainWrap>div.main>div.images:hover>div.bgSml{
    height: 320px;
}
div.mainWrap>div.main>div.images:hover>div.bgBig{
    height: 480px;
}
div.mainWrap>div.main>div.images>div.bgSml{
    width: calc(100% / 5 * 2);
    height: 0px;
    background-color: #141d60;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: height 0.5s;

}
div.mainWrap>div.main>div.images>div.image{
    width: calc(100% / 5 * 4);
    height: 400px;
    background-color: #000;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 1;
    box-shadow: 6px 6px 12px red , -6px -6px 12px blue;
    
}
div.mainWrap>div.main>div.images>div.bgBig{
    width: calc(100% / 5 * 4);
    height: 0px;
    background-color: #141d60;
    position: absolute;
    right: 0;
    top: 0;
    transition: height 0.5s;

}

/* 컨텐츠공통 */
div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2::before{
    width: 20px;
    height: 40px;
    content: '';
    display: block;
    margin: 0 auto;
    background-image: url('../images/right.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
div.cntWrap>div.content>div.header>h2{
    line-height: 40px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    
}
div.cntWrap>div.content>div.header>p{
    width: calc(100% / 12 * 5.5);
    height: 80px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
div.cntWrap>div.content>div.section{
    margin-top: 40px;
}
div.cntWrap>div.content>div.section div.image{
    background-color: #000;
}


/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section::after{
    content: '';
    clear: both;
    display: block;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft{
    width: calc(100% / 12 * 10 - 20px);
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article::after{
    clear: both;
    display: block;
    content: '';
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article>div.image{
    width: calc(100% / 10 * 7);
    height: 320px;
    float: left;
    box-shadow: 2px 2px 2px gray;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article>div.texts{
    width: calc(100% / 10 * 3 - 20px);
    float: left;
    margin-left: 20px;
    padding-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article>div.texts>p{
    font-size: 24px;
    line-height: 34px;
    height: 200px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight{
    width: calc(100% / 12 * 2 - 20px);
    float: right;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article:nth-child(1)>div.image{
    margin-top: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article>div.image{
    height: 80px;
    margin-top: 40px;
    box-shadow: 2px 2px 2px gray;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article>div.image.i3{}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article>div.texts{}


/* 컨텐츠2 */
div.cntWrap{}
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{}
div.cntWrap>div.content.cnt02>div.section::before{
    content: '';
    display: block;
    width: 100vw;
    height: 400px;
    background-color: #000;
    margin-left: calc((100vw - 1080px) / -2);
}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.artTop{
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article{
    width: calc(100% - 20px);
    margin: 0 10px;
    margin-top: -320px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.image{
    height: 520px;
    background-color: #666;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts{
    width: calc(100% / 3);
    background-color: #151e63;
    height: 80px;
    font-size: 16px;
    color: #fff;
    padding: 20px 20px;
    margin-top: -120px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>p{
    height: 40px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.btns{
    width: calc(100% - 20px);
    margin: 0 10px;
    height: 280px;
    margin-top: -240px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.btns>div.btn{
    width: calc(100% / 12);
    font-size: 35px;
    line-height: 40px;
    color: #fff;;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.btns>div.btn:nth-child(1){
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.btns>div.btn:nth-child(2){
    float: right;
    text-align: right;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.btns>div.btn>i{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm::after{
    clear: both;
    content: '';
    display: block;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article{
    width: calc(100% / 12 * 2 - 20px);
    margin: 0 20px;
    float: left;
    box-shadow: 0px 2px 6px 0px black;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image{
    height: 100px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i1{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i2{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i3{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i4{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i5{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i6{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.text{}

/* 배너 */
div.bnrWrap{
    margin-top: 80px;
}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    height: 320px;
    position: relative;
}
div.bnrWrap>div.banner>div.image{
    width: calc(100% / 12 * 5);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    
}
div.bnrWrap>div.banner>div.image>div.ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    background-color: #000;
    height: 240px;
    margin-left:  calc((100vw - 1080px) / -2);
}
div.bnrWrap>div.banner>div.texts{
    width: calc(100% / 12 * 8);
    position: absolute;
    top: 0;
    right: 0;
    
}
div.bnrWrap>div.banner>div.texts>div.ovrGrid{
    background-color: #141d60;
    height: 280px;
    width: calc((100vw - 1080px) / 2 + 100%);
}
div.bnrWrap>div.banner>div.texts>div.txt{
    margin-top: -280px;
    padding: 40px calc(100% / 8) 40px calc(100% / 8 * 2);
    color: #fff;
}
div.bnrWrap>div.banner>div.texts>div.txt>h2{
    font-size: 35px;
    line-height: 40px;
    text-transform: uppercase;
}
div.bnrWrap>div.banner>div.texts>div.txt>p{
    font-size: 14px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    margin-top: 20px;
}
div.bnrWrap>div.banner>div.texts>div.txt>div.btn{
    width: calc(100% / 5);
    line-height: 20px;
    font-size: 12px;
    outline: 1px solid #fff;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
}

/* 푸터 */
div.ftrWrap{
    margin-top: 80px;
    background-color: #333333;
    color: #fff;
}
div.ftrWrap::before{
    content: '';
    display: block;
    height: 80px;
    background-color: #141d60;
    width: 100%;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
div.ftrWrap>div.footer::after{
    display: block;
    clear: both;
    content: '';
}
div.ftrWrap>div.footer>p{
    width: calc(100% / 12 * 8);
    font-size: 12px;
    line-height: 20px;
    height: 80px;
    padding-left: calc(100% / 12 * 3);
    overflow: hidden;
    float: left;
}
div.ftrWrap>div.footer>select{
    width: calc(100% / 12 * 2);
    float: right;
    margin-right: calc(100% / 12);
    height: 40px;
    padding-left: 20px;
    background-color: #222;
    color: #fff;
}
div.ftrWrap>div.footer>select>option{
    line-height: 40px;
    font-size: 12px;

}