/* 헤더 */
div.hdrWrap{
    background-color: #cc6699;
}
div.hdrWrap::after{
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background-color: #000;
    margin-top: -40px;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>h1{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
}
div.hdrWrap>div.header>ul.menu{}
div.hdrWrap>div.header>ul.menu::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>ul.menu>li{
    float: left;
    font-size: 25px;
    line-height: 40px;
}
div.hdrWrap>div.header>ul.menu>li>i{}
div.hdrWrap>div.header>ul.nav{
    float: right;
    margin-top: 40px;
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    line-height: 40px;
    text-transform: capitalize;
    margin-left: 30px;
    color: #fff;
}

/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
    text-transform: uppercase;
    text-wrap: 700px;
    line-height: 80px;
    font-size: 25px;
    text-align: center;
}
div.cntWrap>div.content>div.header>p{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    height: 40px;
}
div.cntWrap>div.content>div.section{
    margin-top: 40px;  
}
div.cntWrap>div.content>div.section div.article>div.texts>h3{
    line-height: 40px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
}
div.cntWrap>div.content>div.section div.article>div.texts>h5{
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}
div.cntWrap>div.content>div.section div.article>div.texts>p{
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
}
div.cntWrap>div.content>div.section div.article>div.image{
    background-color: #ff99cc;
}



/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
    display: block;
    content: '';
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)~div.article{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    width: 50%;
    height: 280px;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{
    float: right;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    width: 50%;
    background-color: #ffccff;
    float: left;
    text-align: center;
    padding: 40px calc(100% / 12);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    height: 120px;
}


/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.section>div.artTop::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm{
    margin-top: 80px;
}
div.cntWrap>div.content.cnt02>div.section div.article{
    width: calc(100% / 12 * 7 - 20px);
    margin: 0px 10px;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section div.article>div.image{
    height: 480px;
}
div.cntWrap>div.content.cnt02>div.section div.article.artTxt{
    width: calc(100% / 12 * 5 - 20px);
    float: left;
}
div.cntWrap>div.content.cnt02>div.section div.article.artTxt>div.image{
    height: 360px;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section div.article.artTxt>div.texts>h3{
    line-height: 20px;
    
}
div.cntWrap>div.content.cnt02>div.section div.article.artTxt>div.texts>p{
    margin-top: 20px;
    height: 60px;
}
/* 컨텐츠3 */

div.cntWrap>div.content.cnt03>div.section::after{
    clear: both;
    display: block;
    content: '';
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1){
    width: calc(100% / 4 * 3 - 20px);
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.image{
    width: calc(100% / 3 - 13px);
    float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(2)~div.article{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.texts{
    width: calc(100% / 3 * 2 - 20px);
    float: left;
    padding-left: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.texts>h3{
    padding-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.texts>p{
    margin-top: 20px;
    height: 60px;
}

/* 컨텐츠4 */
div.cntWrap>div.content.cnt04::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt04>div.header{
    width: calc(100% / 12 * 3);
    float: left;
}
div.cntWrap>div.content.cnt04>div.header>h2{
    line-height: 40px;
    text-align: left;
}
div.cntWrap>div.content.cnt04>div.header>p{
    text-align: left;
    width: 100%;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt04>div.header>div.btn{
    width: calc(100% / 3 * 2);
    line-height: 40px;
    border: 1px solid #000;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt04>div.section{
    width: calc(100% / 12 * 9);
    float: left;
    height: 480px;
    margin-top: 0px;
    position: relative;
}
div.cntWrap>div.content.cnt04>div.section>div.artView{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
    overflow: hidden;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup{
    width: 150%;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article{
    width: calc(100% / 5 - 20px);
    margin: 0px 10px;
    float: left;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image{
    height: 480px;
}
div.cntWrap>div.content.cnt04>div.section>.artView>div.artGroup .image.i1{
    background-color: #ccc;
}
div.cntWrap>div.content.cnt04>div.section>.artView>div.artGroup .image.i2{
    background-color: black;
}
div.cntWrap>div.content.cnt04>div.section>.artView>div.artGroup .image.i3{
    background-color: red;
}
div.cntWrap>div.content.cnt04>div.section>.artView>div.artGroup .image.i4{
    background-color: blue;
}
div.cntWrap>div.content.cnt04>div.section>.artView>div.artGroup .image.i5{
    background-color: green;
}
div.cntWrap>div.content.cnt04>div.section>div.btn{
    font-size: 72px;
    line-height: 80px;
    height: 80px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    color: #fff;
    right: -65px;
}
div.cntWrap>div.content.cnt04>div.section>div.btn>i{
    text-shadow: 2px 2px 1px #666;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>h4{
    font-size: 20px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>div.per{
    width: 30%;
    height: 10px;
    background-color: #000;
    border-radius: 5px;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>div.per>.pert{
    transition: width 0.5s;
    background-color: #fc2;
    width: 0%;
    height: 10px;
    border-radius: 5px;
}
