div.cntWrap{}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 150px;
}
div.cntWrap>div.content>div.section{
    width: 100%;
    height: 480px;
    position: relative;
}
div.cntWrap>div.content>div.section>div.artpre{
    height: 480px;
    width: calc(100% / 12 * 7 - 20px);
    margin: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}
div.cntWrap>div.content>div.section>div.artpre>div.image{
    height: 480px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div.cntWrap>div.content>div.section>div.artpre>div.image.i1{
    background-color: gray;
}
div.cntWrap>div.content>div.section>div.artpre>div.image.i2{
    background-color: chocolate;
}
div.cntWrap>div.content>div.section>div.artpre>div.image.i3{
    background-color: red;
}
div.cntWrap>div.content>div.section>div.artpre>div.image.i4{
    background-color: #fc2;
}
div.cntWrap>div.content>div.section>div.artpre>div.image.i5{
    background-color: blue;
}
div.cntWrap>div.content>div.section>div.artpre>div.image.i6{
    background-color: green;
}
div.cntWrap>div.content>div.section>div.artap{
    width: calc(100% / 12 * 8);
    position: absolute;
    top: 40px;
    right: 0;
}
div.cntWrap>div.content>div.section>div.artap>div.article{
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.image{
    height: 400px;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.image.i1{
    background-color: black;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.image.i2{
    background-color: orange;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.image.i3{
    background-color: darkkhaki;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.image.i4{
    background-color: darkslategrey;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.image.i5{
    background-color: darkred;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.image.i6{
    background-color: darkseagreen;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.texts{
    margin-top: -360px;
    padding: 0px 150px 40px 90px;
    color: #fff;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.texts>h3{
    font-size: 36px;
    line-height: 80px;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.texts>p{
    margin-top: 20px;
    line-height: 20px;
    font-size: 18px;
    height: 120px;
}
div.cntWrap>div.content>div.section>div.artap>div.article>div.texts>div.btn{
    border: 1px solid #fff;
    width: calc(100% / 8 * 1.7);
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    border-radius: 20px;
    font-weight: 700;
    color: #999;
    margin-top: 20px;
    background-color: #fff;
}
div.cntWrap>div.content>div.section>h5{
    position: absolute;
    right: 90px;
    bottom: 10px;
}
div.cntWrap>div.content>div.section>div.btns::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>div.content>div.section>div.btns{
    position: absolute;
    right: 20px;
    bottom: 5px;
}
div.cntWrap>div.content>div.section>div.btns>div.btn{
    float: left;
    font-weight: 700;
    font-size: 24px;
}
div.cntWrap>div.content>div.section>div.btns>div.btn:nth-child(2){
    margin-left: 15px;
}
