.mnTopWrap {
  background-color: #000;
}

.mnTopWrap .mnTop {
  color: #fff;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 700;
}

.mnTopWrap .mnTop .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 12 * 4.5);
}

.mnTopWrap .mnTop nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 12 * 4);
}

.hdrWrap {
  background-color: #000;
}

.hdrWrap header {
  color: #fff;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 80px;
}

.hdrWrap header h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.hdrWrap header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 12 * 7);
  text-transform: capitalize;
}

.mainWrap {
  background-color: #000;
}

.mainWrap main {
  padding: 200px 0px 60px;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  color: #fff;
}

.mainWrap main h2 {
  font-size: 42px;
  line-height: 60px;
  font-weight: 700;
}

.mainWrap main p {
  width: calc(100% / 12 * 5);
  font-size: 12px;
  line-height: 20px;
  height: 80px;
}

.mainWrap main .btns {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainWrap main .btns .btn:nth-child(1) {
  margin-left: 0px;
}

.mainWrap main .btns .btn:nth-child(4) {
  margin-right: 0px;
}

.mainWrap main .btns .btn {
  width: calc(100% / 4 - 10px);
  margin: 0 10px;
  background-color: #fff;
  color: #000;
  line-height: 60px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
}

.mainWrap main .btns .btn i {
  line-height: 60px;
  font-size: 16px;
}

.cntWrap {
  margin-top: 120px;
}

.cntWrap .content.cnt01 {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

.cntWrap .content.cnt01 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cntWrap .content.cnt01 header .hdrLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 12 * 7.5);
}

.cntWrap .content.cnt01 header .hdrLeft h2 {
  font-size: 48px;
  line-height: 80px;
  text-transform: capitalize;
}

.cntWrap .content.cnt01 header .hdrLeft nav {
  margin-top: 20px;
  width: calc(100% / 7.5 * 5.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 40px;
}

.cntWrap .content.cnt01 header .hdrRight {
  margin-top: 10px;
  width: calc(100% / 12 * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cntWrap .content.cnt01 header .hdrRight .btn {
  border: 1px solid black;
  width: 100%;
  font-size: 30px;
  text-align: center;
  height: 60px;
}

.cntWrap .content.cnt01 header .hdrRight .btn i {
  line-height: 60px;
}

.cntWrap .content.cnt01 section {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cntWrap .content.cnt01 section article:nth-child(1) {
  margin-left: 0px;
}

.cntWrap .content.cnt01 section article:nth-child(3) {
  margin-right: 0px;
}

.cntWrap .content.cnt01 section article {
  width: calc(100% / 3 - 20px);
  margin: 0 10px;
}

.cntWrap .content.cnt01 section article .image {
  height: 200px;
  background-color: #333;
}

.cntWrap .content.cnt01 section article .texts {
  padding: 30px 50px 0px 30px;
}

.cntWrap .content.cnt01 section article .texts h5 {
  font-size: 14px;
  line-height: 20px;
}

.cntWrap .content.cnt01 section article .texts h3 {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.cntWrap .content.cnt01 section article .texts p {
  font-size: 12px;
  line-height: 20px;
  height: 80px;
  overflow: hidden;
}

.cntWrap .content.cnt01 section article .btn {
  margin-top: 40px;
  background-color: #333;
  color: black;
  margin-left: auto;
  width: calc(100% / 4);
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.cntWrap .content.cnt01 section article .btn:hover {
  background-color: #fc2;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bnrWrap {
  background-color: #fc0;
  margin-top: 120px;
}

.bnrWrap .banner.bnr01 {
  padding: 80px 0px 80px;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.bnrWrap .banner.bnr01 h2 {
  font-size: 48px;
  line-height: 80px;
  font-weight: 700;
}

.bnrWrap .banner.bnr01 p {
  font-size: 12px;
  line-height: 20px;
  height: 40px;
  width: calc(100% / 12 * 8);
  margin: 0 auto;
}

.bnrWrap .banner.bnr01 .btn {
  line-height: 40px;
  background-color: #fff;
  width: calc(100% / 12);
  font-size: 12px;
  margin: 0 auto;
  margin-top: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

.cntWrap .content.cnt02 {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

.cntWrap .content.cnt02 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cntWrap .content.cnt02 header .hdrLeft h2 {
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

.cntWrap .content.cnt02 header .hdrLeft h4 {
  line-height: 40px;
  font-size: 14px;
}

.cntWrap .content.cnt02 header .hdrRight {
  font-size: 12px;
  text-transform: uppercase;
  width: calc(100% / 12 * 1.5);
  text-align: center;
}

.cntWrap .content.cnt02 section article {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: rtl;
}

.cntWrap .content.cnt02 section article .texts {
  width: calc(100% / 12 * 9);
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cntWrap .content.cnt02 section article .texts .txtLeft {
  width: calc(100% / 9 * 2);
}

.cntWrap .content.cnt02 section article .texts .txtLeft .score {
  width: calc(100% / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cntWrap .content.cnt02 section article .texts .txtLeft .score h3 {
  font-size: 48px;
  line-height: 80px;
  color: #fc0;
}

.cntWrap .content.cnt02 section article .texts .txtLeft .score h5 {
  margin-top: 40px;
  font-size: 12px;
  line-height: 20px;
}

.cntWrap .content.cnt02 section article .texts .txtLeft h5 {
  font-size: 12PX;
  line-height: 20px;
}

.cntWrap .content.cnt02 section article .texts .txtRight {
  font-weight: 700;
  width: calc(100% / 9 * 7 - 40px);
  margin: 0 20px;
}

.cntWrap .content.cnt02 section article .texts .txtRight h3 {
  font-size: 18px;
  line-height: 40px;
}

.cntWrap .content.cnt02 section article .texts .txtRight p {
  line-height: 20px;
  height: 60px;
  font-size: 12px;
}

.cntWrap .content.cnt02 section article .image {
  direction: ltr;
  width: calc(100% / 12 * 3);
  height: 120px;
  background-color: #333;
}

.bnrWrap {
  background-color: #7da5d6;
}

.bnrWrap .banner.bnr02 {
  color: #fff;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 120px 0px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bnrWrap .banner.bnr02 .texts {
  width: calc(100% / 12 * 7);
}

.bnrWrap .banner.bnr02 .texts h2 {
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

.bnrWrap .banner.bnr02 .texts h4 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.bnrWrap .banner.bnr02 .texts p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 12px;
  height: 60px;
  overflow: hidden;
}

.bnrWrap .banner.bnr02 .texts .btn {
  width: calc(100% / 7);
  margin-top: 40px;
  background-color: #fc0;
  line-height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.bnrWrap .banner.bnr02 .image {
  width: calc(100% / 12 * 4);
  height: 240px;
  background-color: #999;
}

.ftrWrap {
  background-color: #000;
  padding: 40px 0px 80px;
}

.ftrWrap footer {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ftrWrap footer .info {
  width: calc(100% / 4);
}

.ftrWrap footer .info h4 {
  font-size: 12px;
  height: 20px;
  margin-top: 20px;
  text-transform: capitalize;
}

.ftrWrap footer .info p {
  margin-top: 30px;
  height: 60px;
  line-height: 20px;
  font-size: 12px;
  overflow: hidden;
}

.ftrWrap footer ul {
  width: calc(100% / 4);
}

.ftrWrap footer ul li:nth-child(1) {
  margin-top: 20px;
  text-transform: capitalize;
}

.ftrWrap footer ul li:nth-child(2) {
  margin-top: 20px;
}

.ftrWrap footer ul li {
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;
}

.ftrWrap ul:nth-child(4) li:nth-child(1) ~ li {
  margin-left: 20px;
}
/*# sourceMappingURL=day57_exe02.css.map */