body{
    position: relative;
}
div{
    width: 100vw;
    height: 100vh;
    background-color: black;
    &:nth-child(2){
        background-color: blue;
    }
    &:nth-child(3){
        background-color: red;
    }
    &:nth-child(4){
        background-color: green;
    }
    &:nth-child(5){
        background-color: pink;
    }
}
.paging{
    position: absolute;
    top: 280px;
    right:  80px;
    color: #fff;
    li{
        background-color: #fc2;
        width: 60px;
        height: 30px;
        border-radius: 20px;
        margin-top: 50px;
        text-align: center;
    }
}