div.cntWrap>div.content{
    width: 90%;
    max-width: 700px;
}
div.cntWrap>div.content>div.section>div.article{
    height: 300px;
}
div.cntWrap>div.content>div.section>div.article>div.image{
    width: calc(100% / 12 - 20px);
    margin: 0 10px;
    height: 300px;
}
div.cntWrap>div.content>div.section>button:nth-child(2){
    position: absolute;
    top: 150px;
    left: 10px;
}
div.cntWrap>div.content>div.section>button:nth-child(3){
    position: absolute;
    top: 150px;
    right: 10px;
}
div.cntWrap>div.content>div.section>ul.paging{
    left: 37%;
}
div.cntWrap>div.content>div.section>ul.paging>li:nth-child(5)~li{
    display: none;
}